body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32vh;
    background-color: white;
}
h1{
    font-family: 'Khula', sans-serif;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    color: #444B54;
}
input{
    width: 25vw;
    padding: 0.5%;
    margin-bottom: 1.5vh;
    font-family: 'Heebo', sans-serif;
    background-color: white;
    border: 0.20vw solid rgb(243, 243, 243);
    transition: 0.3s;
    color: #444B54;
}
input:focus{
    border: 0.20vw solid #71C2FF;
    border-radius: 1vw;
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center ;
}
button{
    margin-right: 2%;
    margin-left: 2%; 
    margin-bottom: 2%;
    width: 10vw;
    padding: 1%;
    font-family: 'Heebo', sans-serif;
    background-color: #71C2FF;
    border: 0.20vw solid #71C2FF;
    border-radius: 1vw;
    transition: 0.3s;
    color: #444B54;
}
button:hover{
    cursor: pointer;
    background-color: white;
}